{
  "root": true,
  "env": {
    "browser": true
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": ["react-app", "plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "rules": {
    "react/jsx-boolean-value": ["error", "always"],
    "react/jsx-sort-props": "error",
    "sort-imports": [
      "error",
      {
        "ignoreCase": true,
        "ignoreDeclarationSort": true,
        "ignoreMemberSort": false,
        "allowSeparatedGroups": true
      }
    ]
  }
}
